<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFORMACIÓN COVID-19</title>
    <link rel="stylesheet" href="/css/estilos_info.css">
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
        </nav>
    </header>
    <section class="contenedor">
        <div>
            <h1>Esté atento a los síntomas</h1>
            <p>Los síntomas notificados por personas con COVID-19 varían desde aquellos que presentan síntomas leves 
                hasta quienes se enferman gravemente. Los síntomas pueden aparecer de 2 a 14 días después de la exposición al virus.
                Cualquiera puede tener síntomas de leves a graves. Las personas con estos síntomas podrían tener COVID-19:</p>
            <ul>
                <li>Fiebre o escalofríos</li>
                <li>Tos</li>
                <li>Dificultad para respirar (Sentir que le falta el aire)</li>
                <li>Fatiga</li>
                <li>Dolores de cabeza</li>
                <li>Pérdida reciente del olfato o el gusto</li>
                <li>Dolor de garganta</li>
                <li>Congestión o moqueo</li>
                <li>Náuseas o vómitos</li>
                <li>Diarrea</li>
            </ul>
            <p>Esta lista no incluye todos los síntomas posibles. Los CDC seguirán actualizando esta lista
                a medida que aprendamos más acerca del COVID-19. Los adultos mayores y las personas con afecciones subyacentes graves,
                como enfermedades cardiacas o pulmonares o diabetes, parecen correr mayor riesgo de presentar complicaciones más graves
                a causa del COVID-19.</p>
        </div>
    </section>
    <section class="contenedor">
        <div>
            <h1>Cúando buscar atención médica de emergencia</h1>
            <p>Esté atento a los signos de advertencia de emergencia* del COVID-19.
                Si alguien presenta alguno de estos signos, busque atención médica de emergencia de inmediato:</p>
            <ul>
                <li>Dificultad para respirar</li>
                <li>Dolor o presión persistente en el pecho</li>
                <li>Confusión</li>
                <li>Incapacidad de despertarse o permanecer despierto</li>
                <li>Piel, labios o lechos de uñas pálidos, grises o azulados, según el tono de la piel</li>
            </ul>
            <p>*Esta lista no incluye todos los síntomas posibles. Llame a su proveedor de servicios médicos por cualquier otro síntoma grave o que le preocupe.</p>
            <p>Llame al 911 o llame antes a su centro de emergencias local: notifique al operador que necesita atención para alguien que tiene o podría tener COVID-19.</p>
        </div>
    </section>
</body>
</html>